<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="Sauce Demo App Test Automation Suite" verbose="5" parallel="false" preserve-order="true" thread-count="1">
 <test name="Sauce Demo App Test Automation Suite" >
<classes>
<class name="com.sauce.qa.testcases.LoginPageTest"></class>
<class name="com.sauce.qa.testcases.ProductListPageTest"></class>
</classes>
</test>
<test name="Sauce Demo App Test Automation Suite1" >
<classes>
<class name="com.sauce.qa.testcases.ProductDescriptionPageTest"></class>

</classes>
</test>
<test name="Sauce Demo App Test Automation Suite2" >
<classes>
<class name="com.sauce.qa.testcases.YourCartPageTest"></class>

</classes>
</test>



</suite>